<!DOCTYPE html>
<html
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:vtex="http://www.vtex.com.br/2009/vtex-common"
  xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce"
  lang="pt-br"
>
<head>
  <meta charset="UTF-8" />
  <title>Store</title>
  <vtex:template id="head" />
</head>
<body data-page-type="home" data-no-js="true">
  <main>
    <div class="header-banner component-spacer-4 component-spacer-lg">
      <vtex:contentPlaceHolder id="Banners-Slider" />
      <vtex.cmc:example />
    </div>
  </main>
</body>
</html>
